@media (max-width:900px) {
    #center-message{
        width: 60vw;
        height: 33vh;
        margin-top: 30vh;
        text-shadow: 2px 2px 2px rgb(238, 244, 252);
    }
    #coming-soon{
        top: 50px;
        text-shadow: 2px 2px 4px #3b82f6;
    }
}

@media (max-width:900px) and (min-height: 900px) {
    #center-message{
        width: 60vw;
        height: 30vh;
        margin-top: 25vh;
    }
}